ASTA-KORE fundamentos y manual operacional/guias decision/concatenador_gd.sh
ASTA-KORE fundamentos y manual operacional/guias decision/_guias_decision_unificadas.md
ASTA-KORE fundamentos y manual operacional/guias tecnicas/concatenador_gt.sh
ASTA-KORE fundamentos y manual operacional/guias tecnicas/_guias_tecnicas_unificadas.md
ASTA-KORE fundamentos y manual operacional/metodologia refactorizada/concatenador_met.sh
ASTA-KORE fundamentos y manual operacional/metodologia refactorizada/_metodologia_unificada.md
ASTA-KORE fundamentos y manual operacional/metodologia refactorizada/auditorias
ASTA-KORE fundamentos y manual operacional/metodologia refactorizada/fuentes/**
ASTA-KORE fundamentos y manual operacional/metodologia refactorizada/productos intermedios/**